{{ define "header" }}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Nous</title>

    <meta name="description" content="A simple site for finding the best learning notes.">
    <meta name="author" content="Tom Gamon">

    <meta property="og:title" content="Nous">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rank.tomgamon.xyz">
    <meta property="og:description" content="A simple site for finding the best learning notes.">
    <!-- <meta property="og:image" content="image.png"> -->

    <link rel="stylesheet" href="/public/water.css">
    <link rel="stylesheet" href="/public/main.css">
	  <!-- <link rel='stylesheet' href='/public/build/bundle.css'> -->

	  <!-- <script defer src='/public/build/bundle.js'></script> -->
    <script defer src="/public/htmx.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
</head> 
<body>
  <header>
    <div class='top-row'>
    <h1><a href="/">Nous</a></h1>
      <form class='search-form' action="/search" method="get">
        <input type="text" name="query" required placeholder="search">
        <input type="submit" value="Search">
      </form>
  </div>
    <nav>
      <a href="/todos">Todos</a>
      <a href="/tag?tag=to read">Readings</a>
    </nav>
  </header>
{{ end }}

{{ define "note" }}
<div class="note {{if .Done}} done {{end}}" data-note-id="{{.ID}}">
  <a name={{.ID}}></a>
  <div class="controls">
    <input
      name="done"
      type="checkbox"
      {{if .Done}}checked{{end}}
      hx-post="/note/{{.ID}}/toggle"
      hx-target="closest .note"
      hx-swap="outerHTML"
    />
    <div class="emoji-button" hx-get="/note/{{.ID}}/edit" hx-target="closest .note" hx-swap="outerHTML">&#128397;</div>
    <div class="emoji-button" hx-get="/note/{{.ID}}/delete" hx-target="closest .note" hx-swap="delete">&#x1F5D1;</div>
  </div>
  <div class="content">
    {{.DisplayBody}}
  </div>
  <div class="metadata">
    <ul class="tags text-subdued">
      {{ range .Tags}} 
      <li class="tag">
        <a href="/tag?tag={{.}}">{{.}}</a>
      </li>
      {{end}}
    </ul>
  </div>
  <hr>
</div>
{{end}}
