{{ define "header" }}
<html>
<head>
    <link rel="stylesheet" href="public/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
    <link rel="manifest" href="public/site.webmanifest">
</head> 
<body>
    <header>
      <h1><a href="/">Learning Rank</a></h1>
      <nav>
        <a href="/submit">Submit</a>
        {{ if not .User.Username }} <a href="/login">login</a> {{else}} <a href="/logout">logout</a> {{end}}
      </nav>
    </header>
{{ end }}
