<html>
<head>
    <link rel="stylesheet" href="public/main.css">
</head> 
<body>
    <a href="/login">SignIn</a>
    <a href="/logout">LogOut</a>
    <form action="/resource" method="post">
      <label for="link">Link</label>
      <input type="url" name="link">
      <label for="name">Name</label>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    <ul>
  {{range .}}
      <li><a href="{{.Link}}"/>{{.Name}}</a> | <a href="/down/{{.ID}}">DOWN</a> {{.Rank}} <a href="/up/{{.ID}}">UP</a></li>
  {{end}}
      </ul>
</body>
</html>
