<html>
<head>
    <link rel="stylesheet" href="public/main.css">
</head> 
<body>
    <header>
    {{ if not .User.Username }}
      <a href="/login">login</a>
    {{else}}
      <a href="/logout">logout</a>
    {{end}}
    </header>
    <form action="/resource" method="post">
      <label for="link">Link</label>
      <input type="url" name="link" required>
      <label for="name">Name</label>
      <input type="text" name="name" required>
      <label for="tags">Tags</label>
      <input type="text" name="tags" placeholder="use, comma, 'seperated values'" required>
      <input type="submit" value="Submit">
    </form>

    <form action="/search" method="post">
      <label for="query">Name</label>
      <input type="text" name="query" required>
      <input type="submit" value="Submit">
    </form>
    <ul>
  {{range .Resources}}
      <li class="resource">
        <div class="voting">
          {{.Rank}} 
          {{if not .Voted }}
            <a class="vote-button" href="/up/{{.ID}}">&#8679;</a>
          {{else}}
            <a class="vote-button voted" href="/down/{{.ID}}">&#8679;</a>
          {{end}}
        </div>
        <div class="resource-info">
          <a href="{{.Link}}"/>{{.Name}}</a>
          <ul class="tags">
            {{ range .Tags }} 
            <li class="tag">{{.}}</li>
            {{end}}
        </ul>
        </div>
      </li>
  {{end}}
      </ul>
</body>
</html>
