{{template "header" .}}
  <div class="grid-note">
  {{ range .Notes }}
  <div class="under-review">
  {{ template "note" . }}
  <button hx-patch="/note/{{.ID}}/review" hx-target="closest .under-review" hx-swap="delete">Reviewed</button>
  <button hx-patch="/note/{{.ID}}/status?priority=1" hx-target=".grid-note" hx-swap="outerHTML">Important & Urgent</button>
  <button hx-patch="/note/{{.ID}}/status?priority=2" hx-target=".grid-note" hx-swap="outerHTML">Important</button>
  <button hx-patch="/note/{{.ID}}/status?priority=3" hx-target=".grid-note" hx-swap="outerHTML">Urgent</button>
  <button hx-patch="/note/{{.ID}}/status?priority=4" hx-target=".grid-note" hx-swap="outerHTML">Someday</button>
  </div>
  {{end}}
  </div>
{{template "footer" .}}
