<html>
<head>
    <link rel="stylesheet" href="public/main.css">
</head> 
<body>
    <header>
      <h1><a href="/">Learning Rank</a></h1>
      <nav>
        <a href="/submit">Submit</a>
        {{ if not .User.Username }} <a href="/login">login</a> {{else}} <a href="/logout">logout</a> {{end}}
      </nav>
    </header>
    <main>
  <form class="submit" action="/resource" method="post">
    <label for="link">Link</label>
    <input type="url" name="link" required>
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="tags">Tags</label>
    <input type="text" name="tags" placeholder="use, comma, 'seperated values'" required>
    <input type="submit" value="Submit">
  </form>
    </main>
</body>
</html>
