  {{template "header" .}}
  <form class="submit" action="/resource" method="post">
    <label for="link">Link</label>
    <input type="url" name="link" required>
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="tags">Tags</label>
    <p>Feel free to tag with whatever is useful, but consider the following categories of tags.</p>
    <p><strong>Technology</strong> - what is the content about? <em>ruby, rust, http, tcp, aws lambda</em></p>
    <p><strong>Level</strong> - who is the content for? <em>beginner, intermediate, advanced</em></p>
    <p><strong>Type</strong> - what type of content is it? <em>course, blogpost, video</em></p>
    <p><strong>Cost</strong> - is the content free or paid? <em>free, paid</em></p>
    <input type="text" name="tags" placeholder="use, comma, 'seperated values'" required>
    <input type="submit" value="Submit">
  </form>
  {{template "footer" .}}
