{{template "header" .}}
  <div class="grid-note">
  {{ range .Statuses }}
  <h2>{{.Name}}</h2>
    {{ range .Notes }}
      {{ template "note" . }}
      <button hx-patch="/note/{{.ID}}/status?tag=Important%20%26%20Urgent" hx-target=".grid-note" hx-swap="outerHTML">Important & Urgent</button>
      <button hx-patch="/note/{{.ID}}/status?tag=Not%20Urgent%20%26%20Not%20Important" hx-target=".grid-note" hx-swap="outerHTML">Not Important & Urgent</button>
      <button hx-patch="/note/{{.ID}}/status?tag=Important%20%26%20Not%20Urgent" hx-target=".grid-note" hx-swap="outerHTML">Important & Not Urgent</button>
      <button hx-patch="/note/{{.ID}}/status?tag=Not%20Urgent%20%26%20Not%20Important" hx-target=".grid-note" hx-swap="outerHTML">Not Urgent & Not Important</button>
      {{end}}
  {{end}}
  </div>
{{template "footer" .}}
