{{ define "comment" }}
  {{range .}}
  <ul>
    <li>
      <details open>
      <a name={{.ID}}></a>
        <summary class="text-subdued">{{.Username}}</summary>
        <p> {{ .Content }} </p>
        <details class="comment-box">
          <summary>reply</summary>
            <form class="comment" action="/resource/{{.ResourceId}}/comment/{{.ID}}" method="post">
              <textarea type="text" name="content" required placeholder="comment"></textarea>
              <input type="submit" value="Submit">
            </form>
          </details>
        {{ template "comment" .Children}}
      </details>
    </li>
  </ul>
  {{ end }}
{{ end }}

{{template "header" .}}
<div class="resources">
  {{range .Resources}}
  <li class="resource">
    <div class="voting">
      {{.Rank}} 
      {{if not .Voted }}
      <a class="vote-button" href="/up/{{.ID}}">&#8679;</a>
      {{else}}
      <a class="vote-button voted" href="/down/{{.ID}}">&#8679;</a>
      {{end}}
    </div>
    <div class="resource-info">
      <div>
        <a href="{{.Link.String}}"/>{{.Name}}</a> <span class="text-subdued">&#10140; {{.Link.Hostname}}</span>
      </div>
      <ul class="tags text-subdued">
        {{ range .Tags }} 
        <li class="tag">{{.}}</li>
        {{end}}
      </ul>
    </div>
  </li>
  <form class="comment" action="/resource/{{.ID}}/comment" method="post">
    <textarea type="text" name="content" required placeholder="comment"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
{{end}}

<div class="comments">
  {{ range $key, $value := .Comments }}
  {{template "comment" $value }}
  {{ end }}
</div>
{{template "footer" .}}
