{{ define "comment" }}
      {{range .}}
      <ul>
    <li>
      <details open>
      <summary>{{.Content}} {{.Username}}</summary>
        {{ template "comment" .Children}}
    </details>
    </li>
      </ul>
    {{ end }}
{{ end }}
{{template "header" .}}
<div class="resources">
  {{range .Resources}}
  <li class="resource">
    <div class="voting">
      {{.Rank}} 
      {{if not .Voted }}
      <a class="vote-button" href="/up/{{.ID}}">&#8679;</a>
      {{else}}
      <a class="vote-button voted" href="/down/{{.ID}}">&#8679;</a>
      {{end}}
    </div>
    <div class="resource-info">
      <div>
        <a href="{{.Link.String}}"/>{{.Name}}</a> <span class="text-subdued">&#10140; {{.Link.Hostname}}</span>
      </div>
      <ul class="tags text-subdued">
        {{ range .Tags }} 
        <li class="tag">{{.}}</li>
        {{end}}
      </ul>
    </div>
  </li>
  {{end}}

  <div class="comments">
    {{ range $key, $value := .Comments }}
      {{template "comment" $value }}
    {{ end }}
  </ul>
</div>
{{template "footer" .}}
